In [1]:
import pandas as pd

양양 학습데이터 18~20년도 자료 불러와서 모델링작업

In [2]:
data = pd.read_csv('양양_야나코_전체데이터.csv', index_col= None)

In [3]:
data_copy = data.copy()

In [4]:
data['일'] = data['측정시간'].apply(lambda x: str(x))
data['일'] = data['일'].apply(lambda x: x.split(' ')[0])
data['일'] = data['일'].apply(lambda x: x[8:10])

data['시'] = data['측정시간'].apply(lambda x: str(x))
data['시'] = data['시'].apply(lambda x: x.split(' ')[1])
data['시'] = data['시'].apply(lambda x: x[0:2])



data['분'] = data['측정시간'].apply(lambda x: str(x))
data['분'] = data['분'].apply(lambda x: x.split(' ')[1])
data['분'] = data['분'].apply(lambda x: x[3:5])

1. COD 
- 공정 5분전에 일시정지 발생 -> 증류수 문제로 판단
- 공정 40분 이후에 발생하는 일시정지 -> 시약주입문제(Endpoint 에러문제)
- 중간에 10분 ~ 30분사이에 공정문제 발생 -> 가열공정문제(1.망간시약주입문제, 2.순환펌프문제)
2. TN,TP
- 공정 5분전 문제 -> 시료 및 시약 주입문제 
- 공정 40분이후 -> 흡광도 측정문제(1.Cell 문제)
- 공정 10분 ~ 30분 사이 문제 -> 가열공정문제(1.가열온도문제 2. 냉각온도문제 3. 집합관 밸브문제)

3. 공통
- COD 측정범위 40에서 데이터 값이 35이상 올라가면 측정범위 초과위험 표시
- TN 측정범위 20에서 데이터 값이 15이상으로 올라가면 측정범위 초과위험표시
- TP 측정범위 2인데 데이터 값이 1.5 이상으로 올라가면 측정범위 초과위험 표시

4. 
- 계측기 통신불량일때 화면표시 -> 데이터로거 점검표시

5. 
- COD, TN, TP, SS , PH 기준초과시 -> 기준초과 발생 원격채수 필요알람이 화면표시 되면 좋음
- 각 계측기 데이터가 0으로 5시간 지속시 -> 비정상 데이터 측정중

In [7]:
# 데이터가 함수로 들어가서 반복문하고 제어문 만나서 제어
# 함수 다만들고나서 클래스로 묶기

In [6]:
data

,방류구,측정일자,측정시간,COD_기준치,COD_측정치,COD_상태정보,SS_기준치,SS_측정치,SS_상태정보,T-N_기준치,...,T-N_상태정보,T-P_기준치,T-P_측정치,T-P_상태정보,pH_기준치,PH_측정치,PH_상태정보,일,시,분
0,1,2016/01/01,2016-01-01 00:00:00,40,7.8,장비정상,10,3.5,장비정상,20,...,장비정상,2,0.031,장비정상,8.6,7.7,장비정상,01,00,00
1,1,2016/01/01,2016-01-01 00:05:00,40,7.8,장비정상,10,3.6,장비정상,20,...,장비정상,2,0.031,장비정상,8.6,7.7,장비정상,01,00,05
2,1,2016/01/01,2016-01-01 00:10:00,40,7.8,장비정상,10,3.6,장비정상,20,...,장비정상,2,0.031,장비정상,8.6,7.7,장비정상,01,00,10
3,1,2016/01/01,2016-01-01 00:15:00,40,7.8,장비정상,10,3.6,장비정상,20,...,장비정상,2,0.031,장비정상,8.6,7.7,장비정상,01,00,15
4,1,2016/01/01,2016-01-01 00:20:00,40,7.8,장비정상,10,3.7,장비정상,20,...,장비정상,2,0.031,장비정상,8.6,7.7,장비정상,01,00,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525323,1,2020/12/30,2020-12-30 23:35:00,40,5.5,장비정상,10,1.1,장비정상,20,...,장비정상,2,0.019,장비정상,8.6,7.7,장비정상,30,23,35
525324,1,2020/12/30,2020-12-30 23:40:00,40,5.7,장비정상,10,1.1,장비정상,20,...,장비정상,2,0.019,장비정상,8.6,7.7,장비정상,30,23,40
525325,1,2020/12/30,2020-12-30 23:45:00,40,5.7,장비정상,10,1.1,장비정상,20,...,장비정상,2,0.019,장비정상,8.6,7.7,장비정상,30,23,45
525326,1,2020/12/30,2020-12-30 23:50:00,40,5.7,장비정상,10,1.1,장비정상,20,...,장비정상,2,0.019,장비정상,8.6,7.7,장비정상,30,23,50
525327,1,2020/12/30,2020-12-30 23:55:00,40,5.7,장비정상,10,1.1,장비정상,20,...,장비정상,2,0.019,장비정상,8.6,7.7,장비정상,30,23,55

In [9]:
# data_sp = data.copy()분석용 데이터셋 카피해서 만들기

data_sp = data.copy()

In [13]:
data_sp.columns

Index(['방류구', '측정일자', '측정시간', 'COD_기준치', 'COD_측정치', 'COD_상태정보', 'SS_기준치',
       'SS_측정치', 'SS_상태정보', 'T-N_기준치', 'T-N_측정치', 'T-N_상태정보', 'T-P_기준치',
       'T-P_측정치', 'T-P_상태정보', 'pH_기준치', 'PH_측정치', 'PH_상태정보', '일', '시', '분'],
      dtype='object')

In [16]:
data_sp = data_sp.drop(['방류구', '측정일자', '측정시간', 'COD_기준치', 'COD_측정치', 'SS_기준치','SS_측정치','T-N_기준치', 'T-N_측정치','T-P_기준치',
'T-P_측정치','pH_기준치', 'PH_측정치'], axis=1)

In [18]:
data_sp.columns

Index(['COD_상태정보', 'SS_상태정보', 'T-N_상태정보', 'T-P_상태정보', 'PH_상태정보', '일', '시',
       '분'],
      dtype='object')

In [19]:
data_sp = data_sp[['일','시','분','COD_상태정보', 'SS_상태정보', 'T-N_상태정보', 'T-P_상태정보', 'PH_상태정보']]

In [20]:
data_sp

         일   시   분 COD_상태정보 SS_상태정보 T-N_상태정보 T-P_상태정보 PH_상태정보
0       01  00  00     장비정상    장비정상     장비정상     장비정상    장비정상
1       01  00  05     장비정상    장비정상     장비정상     장비정상    장비정상
2       01  00  10     장비정상    장비정상     장비정상     장비정상    장비정상
3       01  00  15     장비정상    장비정상     장비정상     장비정상    장비정상
4       01  00  20     장비정상    장비정상     장비정상     장비정상    장비정상
...     ..  ..  ..      ...     ...      ...      ...     ...
525323  30  23  35     장비정상    장비정상     장비정상     장비정상    장비정상
525324  30  23  40     장비정상    장비정상     장비정상     장비정상    장비정상
525325  30  23  45     장비정상    장비정상     장비정상     장비정상    장비정상
525326  30  23  50     장비정상    장비정상     장비정상     장비정상    장비정상
525327  30  23  55     장비정상    장비정상     장비정상     장비정상    장비정상

[525328 rows x 8 columns]

In [23]:
data_sp[data_sp['COD_상태정보'] != '장비정상']

         일   시   분 COD_상태정보 SS_상태정보 T-N_상태정보 T-P_상태정보 PH_상태정보
1268    05  09  40      점검중     점검중      점검중      점검중     점검중
1269    05  09  45      점검중     점검중      점검중      점검중     점검중
1270    05  09  50      점검중     점검중      점검중      점검중     점검중
1271    05  09  55      점검중     점검중      점검중      점검중     점검중
1272    05  10  00      점검중     점검중      점검중      점검중     점검중
...     ..  ..  ..      ...     ...      ...      ...     ...
523146  23  10  10      점검중     점검중      점검중      점검중     점검중
523147  23  10  15      점검중     점검중      점검중      점검중     점검중
523148  23  10  20      점검중     점검중      점검중      점검중     점검중
523149  23  10  25      점검중     점검중      점검중      점검중     점검중
524596  28  11  00      점검중     점검중      점검중      점검중     점검중

[31165 rows x 8 columns]

In [24]:
data_sp[data_sp['COD_상태정보'] == '동작불량']

         일   시   분 COD_상태정보 SS_상태정보 T-N_상태정보 T-P_상태정보 PH_상태정보
108568  11  23  20     동작불량    장비정상     장비정상     장비정상    장비정상
108569  11  23  25     동작불량    장비정상     장비정상     장비정상    장비정상
108570  11  23  30     동작불량    장비정상     장비정상     장비정상    장비정상
108571  11  23  35     동작불량    장비정상     장비정상     장비정상    장비정상
108572  11  23  40     동작불량    장비정상     장비정상     장비정상    장비정상
...     ..  ..  ..      ...     ...      ...      ...     ...
384141  27  18  25     동작불량    장비정상     장비정상     장비정상    장비정상
384142  27  18  30     동작불량    장비정상     장비정상     장비정상    장비정상
384143  27  18  35     동작불량    장비정상     장비정상     장비정상    장비정상
384144  27  18  40     동작불량    장비정상     장비정상     장비정상    장비정상
384145  27  18  45     동작불량    장비정상     장비정상     장비정상    장비정상

[1791 rows x 8 columns]

In [54]:
for idx, row in data_sp.iterrows():
    if row[3] =='동작불량':
        print(row)
        if row[2] == '00' or '05':
            print('증류수 문제 판단됨')
        elif row[2] == '40' or '45' or '50' or '55':
            print('시약주입문제(End point 에러문제)')
        elif row[2] == '10' or '15' or '20' or '25' or 30:
            print('가열공정문제 1.망간시약주입문제, 2.순환펌프문제')
    if row[4] =='동작불량':
        if row[2] == '00' or '05':
            print('시료 및 시약 주입문제')
        elif row[2] == '40' or '45' or '50' or '55':
            print('흡광도 측정문제(1.Cell 문제)')
        elif row[2] == '10' or '15' or '20' or '25' or 30:
            print('가열공정문제 1.가열온도문제, 2.냉각온도문제 3. 집합관 밸브문제')

일             11
시             23
분             20
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108568, dtype: object
증류수 문제 판단됨
일             11
시             23
분             25
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108569, dtype: object
증류수 문제 판단됨
일             11
시             23
분             30
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108570, dtype: object
증류수 문제 판단됨
일             11
시             23
분             35
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108571, dtype: object
증류수 문제 판단됨
일             11
시             23
분             40
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108572, dtype: object
증류수 문제 판단됨
일             12
시             15
분             05
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108757, dtype: object
증류수 문제 판단됨
일             12
시             15
분             10
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108758, dtype: object
증류수 문제 판단됨
일             12
시             15
분             15
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108759, dtype: object
증류수 문제 판단됨
일             12
시             15
분             20
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108760, dtype: object
증류수 문제 판단됨
일             12
시             15
분             25
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108761, dtype: object
증류수 문제 판단됨
일             12
시             15
분             30
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108762, dtype: object
증류수 문제 판단됨
일             12
시             15
분             35
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108763, dtype: object
증류수 문제 판단됨
일             12
시             15
분             40
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108764, dtype: object
증류수 문제 판단됨
일             24
시             19
분             05
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 112261, dtype: object
증류수 문제 판단됨
일             29
시             00
분             05
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 113473, dtype: object
증류수 문제 판단됨
일             29
시             00
분             10
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 113474, dtype: object
증류수 문제 판단됨
일             29
시             00
분             15
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 113475, dtype: object
증류수 문제 판단됨
일             29
시             00
분             20
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 113476, dtype: object
증류수 문제 판단됨
일             29
시             00
분             25
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 113477, dtype: object
증류수 문제 판단됨
일             04
시             19
분             05
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 123493, dtype: object
증류수 문제 판단됨
일             04
시             19
분             10
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 123494, dtype: object
증류수 문제 판단됨

KeyboardInterrupt:

In [57]:
data_sp_sample = data_sp[data_sp['COD_상태정보'] == '동작불량'][:10]

In [58]:
data_sp_sample

         일   시   분 COD_상태정보 SS_상태정보 T-N_상태정보 T-P_상태정보 PH_상태정보
108568  11  23  20     동작불량    장비정상     장비정상     장비정상    장비정상
108569  11  23  25     동작불량    장비정상     장비정상     장비정상    장비정상
108570  11  23  30     동작불량    장비정상     장비정상     장비정상    장비정상
108571  11  23  35     동작불량    장비정상     장비정상     장비정상    장비정상
108572  11  23  40     동작불량    장비정상     장비정상     장비정상    장비정상
108757  12  15  05     동작불량    장비정상     장비정상     장비정상    장비정상
108758  12  15  10     동작불량    장비정상     장비정상     장비정상    장비정상
108759  12  15  15     동작불량    장비정상     장비정상     장비정상    장비정상
108760  12  15  20     동작불량    장비정상     장비정상     장비정상    장비정상
108761  12  15  25     동작불량    장비정상     장비정상     장비정상    장비정상

In [59]:
for idx, row in data_sp_sample.iterrows():
    if row[3] =='동작불량':
        print(row)
        if row[2] == '00' or '05':
            print('증류수 문제 판단됨')
        elif row[2] == '40' or '45' or '50' or '55':
            print('시약주입문제(End point 에러문제)')
        elif row[2] == '10' or '15' or '20' or '25' or 30:
            print('가열공정문제 1.망간시약주입문제, 2.순환펌프문제')
    if row[4] =='동작불량':
        if row[2] == '00' or '05':
            print('시료 및 시약 주입문제')
        elif row[2] == '40' or '45' or '50' or '55':
            print('흡광도 측정문제(1.Cell 문제)')
        elif row[2] == '10' or '15' or '20' or '25' or 30:
            print('가열공정문제 1.가열온도문제, 2.냉각온도문제 3. 집합관 밸브문제') 


## if 문 수정해야함!

일             11
시             23
분             20
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108568, dtype: object
증류수 문제 판단됨
일             11
시             23
분             25
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108569, dtype: object
증류수 문제 판단됨
일             11
시             23
분             30
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108570, dtype: object
증류수 문제 판단됨
일             11
시             23
분             35
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108571, dtype: object
증류수 문제 판단됨
일             11
시             23
분             40
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108572, dtype: object
증류수 문제 판단됨
일             12
시             15
분             05
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108757, dtype: object
증류수 문제 판단됨
일             12
시             15
분             10
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108758, dtype: object
증류수 문제 판단됨
일             12
시             15
분             15
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108759, dtype: object
증류수 문제 판단됨
일             12
시             15
분             20
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108760, dtype: object
증류수 문제 판단됨
일             12
시             15
분             25
COD_상태정보    동작불량
SS_상태정보     장비정상
T-N_상태정보    장비정상
T-P_상태정보    장비정상
PH_상태정보     장비정상
Name: 108761, dtype: object
증류수 문제 판단됨