In [1]:
import pandas as pd

In [15]:
df_1=pd.read_excel("1601.xlsx", header = None)
df_2=pd.read_excel("1602.xlsx", header = None)
df_3=pd.read_excel("1603.xlsx", header = None)
df_4=pd.read_excel("1604.xlsx", header = None)
df_5=pd.read_excel("1605.xlsx", header = None)
df_6=pd.read_excel("1606.xlsx", header = None)
df_7=pd.read_excel("1607.xlsx", header = None)
df_8=pd.read_excel("1608.xlsx", header = None)
df_9=pd.read_excel("1609.xlsx", header = None)
df_10=pd.read_excel("1610.xlsx", header = None)
df_11=pd.read_excel("1611.xlsx", header = None)
df_12=pd.read_excel("1612.xlsx", header = None)
df_13=pd.read_excel("1701.xlsx", header = None)
df_14=pd.read_excel("1702.xlsx", header = None)
df_15=pd.read_excel("1703.xlsx", header = None)
df_16=pd.read_excel("1704.xlsx", header = None)
df_17=pd.read_excel("1705.xlsx", header = None)
df_18=pd.read_excel("1706.xlsx", header = None)
df_19=pd.read_excel("1707.xlsx", header = None)
df_20=pd.read_excel("1708.xlsx", header = None)
df_21=pd.read_excel("1709.xlsx", header = None)
df_22=pd.read_excel("1710.xlsx", header = None)
df_23=pd.read_excel("1711.xlsx", header = None)
df_24=pd.read_excel("1712.xlsx", header = None)

C:\Users\inthe\anaconda3\envs\ribeco\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [16]:
df_1 = df_1.drop([0,1,2])
df_2=df_2.drop([0,1,2])
df_3=df_3.drop([0,1,2])
df_4=df_4.drop([0,1,2])
df_5=df_5.drop([0,1,2])
df_6=df_6.drop([0,1,2])
df_7=df_7.drop([0,1,2])
df_8=df_8.drop([0,1,2])
df_9=df_9.drop([0,1,2])
df_10=df_10.drop([0,1,2])
df_11=df_11.drop([0,1,2])
df_12=df_12.drop([0,1,2])
df_13=df_13.drop([0,1,2])
df_14=df_14.drop([0,1,2])
df_15=df_15.drop([0,1,2])
df_16=df_16.drop([0,1,2])
df_17=df_17.drop([0,1,2])
df_18=df_18.drop([0,1,2])
df_19=df_19.drop([0,1,2])
df_20=df_20.drop([0,1,2])
df_21=df_21.drop([0,1,2])
df_22=df_22.drop([0,1,2])
df_23=df_23.drop([0,1,2])
df_24=df_24.drop([0,1,2])

In [17]:
data = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6	,df_7	,df_8,	df_9,	df_10,	df_11,	df_12,	df_13,	df_14,
                  df_15	,df_16,	df_17,	df_18,	df_19,	df_20,	df_21,	df_22,	df_23,df_24], ignore_index=True)

In [18]:
columns =  ['방류구','측정일자',	'측정시간',	'COD_기준치', 'COD_측정치',	'COD_상태정보',	'SS_기준치',	'SS_측정치',	'SS_상태정보',	'T-N_기준치'	,'T-N_측정치',	'T-N_상태정보',	'T-P_기준치',	'T-P_측정치','T-P_상태정보',	'pH_기준치'	,'PH_측정치', 'PH_상태정보']
data.columns = columns
data.sample()

,방류구,측정일자,측정시간,COD_기준치,COD_측정치,COD_상태정보,SS_기준치,SS_측정치,SS_상태정보,T-N_기준치,T-N_측정치,T-N_상태정보,T-P_기준치,T-P_측정치,T-P_상태정보,pH_기준치,PH_측정치,PH_상태정보
108585,1,2017/01/12,00시45분,40,3.8,장비정상,10,2.3,장비정상,20,7.590,장비정상,2,0.526,장비정상,8.6,8.0,장비정상

In [21]:
data[data['SS_측정치'] == '측정치']

Empty DataFrame
Columns: [방류구, 측정일자, 측정시간, COD_기준치, COD_측정치, COD_상태정보, SS_기준치, SS_측정치, SS_상태정보, T-N_기준치, T-N_측정치, T-N_상태정보, T-P_기준치, T-P_측정치, T-P_상태정보, pH_기준치, PH_측정치, PH_상태정보]
Index: []

In [19]:
data = data.astype({'SS_측정치':float,'T-N_측정치':float, 'T-P_측정치':float, 'T-N_측정치':float, 'PH_측정치':float})

In [25]:
astype_data['측정시간'] =astype_data['측정일자'] +' '+ astype_data['측정시간']

In [26]:
astype_data['측정시간'] = astype_data['측정시간'].apply(lambda x: x.replace('시',':'))
astype_data['측정시간'] = astype_data['측정시간'].apply(lambda x: x.replace('분',''))

In [28]:
astype_data

,방류구,측정일자,측정시간,COD_기준치,COD_측정치,COD_상태정보,SS_기준치,SS_측정치,SS_상태정보,T-N_기준치,T-N_측정치,T-N_상태정보,T-P_기준치,T-P_측정치,T-P_상태정보,pH_기준치,PH_측정치,PH_상태정보
0,1,2016/01/01,2016/01/01 2016/01/01 00:00,40,7.8,장비정상,10,3.5,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상
1,1,2016/01/01,2016/01/01 2016/01/01 00:05,40,7.8,장비정상,10,3.6,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상
2,1,2016/01/01,2016/01/01 2016/01/01 00:10,40,7.8,장비정상,10,3.6,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상
3,1,2016/01/01,2016/01/01 2016/01/01 00:15,40,7.8,장비정상,10,3.6,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상
4,1,2016/01/01,2016/01/01 2016/01/01 00:20,40,7.8,장비정상,10,3.7,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210523,1,2017/12/31,2017/12/31 2017/12/31 23:35,40,9.4,장비정상,10,0.7,장비정상,20,7.263,장비정상,2,0.063,장비정상,8.6,7.8,장비정상
210524,1,2017/12/31,2017/12/31 2017/12/31 23:40,40,8.6,장비정상,10,0.6,장비정상,20,7.428,장비정상,2,0.064,장비정상,8.6,7.8,장비정상
210525,1,2017/12/31,2017/12/31 2017/12/31 23:45,40,8.6,장비정상,10,0.6,장비정상,20,7.428,장비정상,2,0.064,장비정상,8.6,7.8,장비정상
210526,1,2017/12/31,2017/12/31 2017/12/31 23:50,40,8.6,장비정상,10,0.7,장비정상,20,7.428,장비정상,2,0.064,장비정상,8.6,7.8,장비정상
210527,1,2017/12/31,2017/12/31 2017/12/31 23:55,40,8.6,장비정상,10,0.6,장비정상,20,7.428,장비정상,2,0.064,장비정상,8.6,7.8,장비정상

In [27]:
astype_data['측정시간'] = pd.to_datetime(astype_data['측정시간'])

ParserError: Unknown string format: 2016/01/01 2016/01/01 00:00

In [34]:
astype_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210528 entries, 0 to 210527
Data columns (total 18 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   방류구       210528 non-null  object
 1   측정일자      210528 non-null  object
 2   측정시간      210528 non-null  datetime64[ns]
 3   COD_기준치   210528 non-null  object
 4   COD_측정치   210528 non-null  object
 5   COD_상태정보  210528 non-null  object
 6   SS_기준치    210528 non-null  object
 7   SS_측정치    210528 non-null  float64
 8   SS_상태정보   210528 non-null  object
 9   T-N_기준치   210528 non-null  object
 10  T-N_측정치   210528 non-null  float64
 11  T-N_상태정보  210528 non-null  object
 12  T-P_기준치   210528 non-null  object
 13  T-P_측정치   210528 non-null  float64
 14  T-P_상태정보  210528 non-null  object
 15  pH_기준치    210528 non-null  object
 16  PH_측정치    210528 non-null  float64
 17  PH_상태정보   210528 non-null  object
dtypes: datetime64[ns](1), float64(4), object(13)
memory usage: 28.9+ MB

In [35]:
astype_data.to_csv('Analysis_data.csv', encoding = 'utf-8', index = False)

In [3]:
data = pd.read_csv('Analysis_data.csv', encoding='utf-8')

In [4]:
astype_data = data.copy()

In [5]:
astype_data

,방류구,측정일자,측정시간,COD_기준치,COD_측정치,COD_상태정보,SS_기준치,SS_측정치,SS_상태정보,T-N_기준치,T-N_측정치,T-N_상태정보,T-P_기준치,T-P_측정치,T-P_상태정보,pH_기준치,PH_측정치,PH_상태정보
0,1,2016/01/01,2016-01-01 00:00:00,40,7.8,장비정상,10,3.5,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상
1,1,2016/01/01,2016-01-01 00:05:00,40,7.8,장비정상,10,3.6,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상
2,1,2016/01/01,2016-01-01 00:10:00,40,7.8,장비정상,10,3.6,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상
3,1,2016/01/01,2016-01-01 00:15:00,40,7.8,장비정상,10,3.6,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상
4,1,2016/01/01,2016-01-01 00:20:00,40,7.8,장비정상,10,3.7,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210523,1,2017/12/31,2017-12-31 23:35:00,40,9.4,장비정상,10,0.7,장비정상,20,7.263,장비정상,2,0.063,장비정상,8.6,7.8,장비정상
210524,1,2017/12/31,2017-12-31 23:40:00,40,8.6,장비정상,10,0.6,장비정상,20,7.428,장비정상,2,0.064,장비정상,8.6,7.8,장비정상
210525,1,2017/12/31,2017-12-31 23:45:00,40,8.6,장비정상,10,0.6,장비정상,20,7.428,장비정상,2,0.064,장비정상,8.6,7.8,장비정상
210526,1,2017/12/31,2017-12-31 23:50:00,40,8.6,장비정상,10,0.7,장비정상,20,7.428,장비정상,2,0.064,장비정상,8.6,7.8,장비정상
210527,1,2017/12/31,2017-12-31 23:55:00,40,8.6,장비정상,10,0.6,장비정상,20,7.428,장비정상,2,0.064,장비정상,8.6,7.8,장비정상

In [6]:
astype_data[astype_data['COD_상태정보'] == '동작불량']

,방류구,측정일자,측정시간,COD_기준치,COD_측정치,COD_상태정보,SS_기준치,SS_측정치,SS_상태정보,T-N_기준치,T-N_측정치,T-N_상태정보,T-P_기준치,T-P_측정치,T-P_상태정보,pH_기준치,PH_측정치,PH_상태정보
108568,1,2017/01/11,2017-01-11 23:20:00,40,4.6,동작불량,10,2.3,장비정상,20,7.590,장비정상,2,0.509,장비정상,8.6,8.0,장비정상
108569,1,2017/01/11,2017-01-11 23:25:00,40,4.6,동작불량,10,2.4,장비정상,20,7.590,장비정상,2,0.509,장비정상,8.6,8.0,장비정상
108570,1,2017/01/11,2017-01-11 23:30:00,40,4.6,동작불량,10,2.3,장비정상,20,7.590,장비정상,2,0.509,장비정상,8.6,8.0,장비정상
108571,1,2017/01/11,2017-01-11 23:35:00,40,4.6,동작불량,10,2.3,장비정상,20,7.590,장비정상,2,0.512,장비정상,8.6,8.0,장비정상
108572,1,2017/01/11,2017-01-11 23:40:00,40,4.6,동작불량,10,2.3,장비정상,20,7.732,장비정상,2,0.518,장비정상,8.6,8.0,장비정상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201418,1,2017/11/30,2017-11-30 08:50:00,40,1.2,동작불량,10,1.2,장비정상,20,6.590,장비정상,2,0.024,장비정상,8.6,8.0,장비정상
201419,1,2017/11/30,2017-11-30 08:55:00,40,1.2,동작불량,10,1.2,장비정상,20,6.590,장비정상,2,0.024,장비정상,8.6,8.0,장비정상
201420,1,2017/11/30,2017-11-30 09:00:00,40,1.2,동작불량,10,1.1,장비정상,20,6.590,장비정상,2,0.024,장비정상,8.6,8.0,장비정상
201421,1,2017/11/30,2017-11-30 09:05:00,40,1.2,동작불량,10,1.1,장비정상,20,6.590,장비정상,2,0.024,장비정상,8.6,8.0,장비정상
201422,1,2017/11/30,2017-11-30 09:10:00,40,1.2,동작불량,10,1.2,장비정상,20,6.590,장비정상,2,0.024,장비정상,8.6,8.0,장비정상

In [7]:
astype_data['분'] = astype_data['측정시간'].apply(lambda x: str(x))
astype_data['분'] = astype_data['분'].apply(lambda x: x.split(' ')[1])
astype_data['분'] = astype_data['분'].apply(lambda x: x[3:5])

In [11]:
astype_data

,방류구,측정일자,측정시간,COD_기준치,COD_측정치,COD_상태정보,SS_기준치,SS_측정치,SS_상태정보,T-N_기준치,T-N_측정치,T-N_상태정보,T-P_기준치,T-P_측정치,T-P_상태정보,pH_기준치,PH_측정치,PH_상태정보,분
0,1,2016/01/01,2016-01-01 00:00:00,40,7.8,장비정상,10,3.5,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상,00
1,1,2016/01/01,2016-01-01 00:05:00,40,7.8,장비정상,10,3.6,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상,05
2,1,2016/01/01,2016-01-01 00:10:00,40,7.8,장비정상,10,3.6,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상,10
3,1,2016/01/01,2016-01-01 00:15:00,40,7.8,장비정상,10,3.6,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상,15
4,1,2016/01/01,2016-01-01 00:20:00,40,7.8,장비정상,10,3.7,장비정상,20,5.210,장비정상,2,0.031,장비정상,8.6,7.7,장비정상,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210523,1,2017/12/31,2017-12-31 23:35:00,40,9.4,장비정상,10,0.7,장비정상,20,7.263,장비정상,2,0.063,장비정상,8.6,7.8,장비정상,35
210524,1,2017/12/31,2017-12-31 23:40:00,40,8.6,장비정상,10,0.6,장비정상,20,7.428,장비정상,2,0.064,장비정상,8.6,7.8,장비정상,40
210525,1,2017/12/31,2017-12-31 23:45:00,40,8.6,장비정상,10,0.6,장비정상,20,7.428,장비정상,2,0.064,장비정상,8.6,7.8,장비정상,45
210526,1,2017/12/31,2017-12-31 23:50:00,40,8.6,장비정상,10,0.7,장비정상,20,7.428,장비정상,2,0.064,장비정상,8.6,7.8,장비정상,50
210527,1,2017/12/31,2017-12-31 23:55:00,40,8.6,장비정상,10,0.6,장비정상,20,7.428,장비정상,2,0.064,장비정상,8.6,7.8,장비정상,55

In [9]:
for idx, row in astype_data.iterrows():
    error_list = []
    if row[5] =='동작불량':
        error_list.append(row[-1])
        if row[-1] == '05':
            print('시료 문제')
        elif row[-1] == '40':
            print('~문제')

~문제
시료 문제
~문제
시료 문제
시료 문제
시료 문제

KeyboardInterrupt:

In [ ]:
'''
COD상태정보가 동작불량이 걸렸을때 측정시간을 output 하는 함수
'''

def outputtime(x):
    if